.header-container{
    background-image: linear-gradient(to right, hsl(161, 100%, 60%), #ACFF33);
}

.form-container{
    display: inline-block;
    width: 80%;
    margin-left: 107%;
    transform: translate(-100%);
}
