<div class="card">
  <div class=" header-container card-body text-uppercase text-center font-weight-bold">
    budget calculator
  </div>
</div>

<div class="card budget-container" style="height: 10rem;">
  <div class="card-body text-center" style="background-color: #353434;">
    <p style="line-height: 8rem; font-size: xx-large; color:white">{{ budget }}</p>
  </div>
</div>

<div class="form-container mt-3">
  <form>
    <div class="row">
      <div class="col-2">
        <input type="number" class="form-control" placeholder="Amount" [(ngModel)]="newAmount" name="amount">
      </div>
      <div class="col-5">
        <input type="text" class="form-control" placeholder="Description" [(ngModel)]="newDescription" name="description">
      </div>
      <button class="btn btn-success" (click)="onClick()">Add</button>
    </div>
  </form>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="card w-50 col mr-3" *ngIf="amounts.length>0">
      <div class="card-body">
        <h5 class="card-title text-primary">Income</h5>
        <app-savings [amounts]="amounts" (remove)="handleRemove($event.index)"></app-savings>
      </div>
    </div>
    
    <div class="card w-50 col" *ngIf="amounts.length>0">
      <div class="card-body">
        <h5 class="card-title text-primary">Expenses</h5>
        <app-spendings [amounts]="amounts" (remove)="handleRemove($event.index)"></app-spendings>
      </div>
    </div>
  </div>
</div>


<!-- <router-outlet></router-outlet> -->