<table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Amount</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let saving of amounts; let i = index">
            <ng-container *ngIf="saving">
                <tr *ngIf="saving.amount>0">
                    <!-- <th scope="row"></th> -->
                    <td>{{ saving.amount }}</td>
                    <td>{{ saving.description }}</td>
                    <td>
                        <button class="btn btn-danger" (click)="onClick(i)">remove</button>
                    </td>
                </tr>
            </ng-container>
        </ng-container>
    </tbody>
</table>