<table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Amount</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let spending of amounts; let i = index">
            <ng-container *ngIf="spending">
                <tr *ngIf="0>spending.amount">
                    <!-- <th scope="row"></th> -->
                    <td>{{ spending.amount }}</td>
                    <td>{{ spending.description }}</td>
                    <td>
                        <button class="btn btn-danger" (click)="onClick(i)">remove</button>
                    </td>
                </tr>
            </ng-container>
        </ng-container>
    </tbody>
</table>